* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, h2, h3{
    font-family: "Bungee", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}


header {
    padding: 16px 0;
    color: #ecf0f1;
    background-color: #182c61;
}

li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.brands-list img{
    height: 24px;
}

.brands-list {
    display: inline;
    margin-right: 8px;
}   

.container {
    align-items: flex-start;
}

section{
    padding: 24px 0;
    color: #182c61;
}

h2 {
    margin-bottom: 16px;
}

p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

#contact {
    display: block;
}

#contact.container {
    display: inline-block;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover {
    background-color: #314e9e;
}

input:focus{
    outline-color: #182c61;
}

.social-media img {
    height: 24px;
}

.social-media{
    display: inline;
}

.social-media li a {
    text-decoration: none;
    color: #182c61;
}